/* html, h1 {
  background-color: #dbffb5;
} */

/*
Accent Color: rgb(185, 242, 223)
*/
.mycard1 {
  background-color: rgb(185, 242, 223);
  box-shadow: 2px 2px 2px black;
  transition: transform .2s;
  margin: 20px;
}

.mycard1:hover {
  transform: scale(1.25);
}

.mycardimg1 {
  border-radius: 5px;
}

main {
  padding: 50px;
}



.myheroimg {
  height: 500px;
  width: 100%;
  border-bottom: 5px solid rgb(185, 242, 223);
}

footer {
  border-top: 5px rgb(185, 242, 223);
  padding: 0px;
}

.backgroundlol {
  background-color: rgb(185, 242, 223);
  padding: 10px 0px;
}


/* Tool tip */   
.tooltipleft{
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted blue;
}

.tooltipleft .toolttextleft {
  visibility: hidden;
  width: 200px;
  height: 90px;
  background-color:lightsalmon;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 5px ;
  position: absolute;
  z-index: 1;
  right: 130%;
}

.tooltipleft:hover .toolttextleft {
  visibility: visible;
}


.containss {
  position: relative;
  text-align: center;
}



.topcenter {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  left: 50%;
  top: -20px;
  margin-bottom: 10px;
}

.abscenter {
  position: absolute;
  left: 33%;
  top: 34%;
}

.floater1 {
  color: white;
  padding: 50px;
  background-color: black;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  border: 5px rgb(185, 242, 223) solid;
  box-shadow: 5px 5px 8px black;
}

.floater_title {
  font-size: 2.5rem;
}

.poopie {
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 60rem;
}

.weewoo1 {
  margin-bottom: 300px;
}

.sketchfab-embed-wrapper {
  align-items: center;
  margin-left: 30%;
}